<div class="job">
  <div class="container">
    <h4><b> Job Title: <%= job.title %></b></h4>
    <p>Job Link: <%= job.link %></p>
    <p>Job Company: <%= job.company %></p>
    <p>Job Location: <%= job.location %></p>
    <%= form_with model: job do |form| %>
      <div>
        <%= form.label :status %>
        <%= form.select :status, %w[Interested Applied Interviewed Offered Rejected], :prompt => 'Status' %>
        <%= form.button "Update" %>
      </div>
     <%end %>
    <p><%= button_to "Edit", edit_job_path(job.id), method: :get %></p>
    <p><%= button_to "Delete", job, method: :delete, data: { turbo_confirm: "Are you sure?" } %></p>
  </div>
</div>