<% if user_signed_in? %>

  <% if @jobs.any? { |job| job.created_by == current_user.id } %>

    <h2 class="header">
      <div style="text-align: center"> Jobs!</div>

      <div style="text-align: right">
        <%= button_to "New Job", new_job_path, method: :get %>
      </div>
    </h2>

    <% %w[Interested Applied Interviewed Offered Rejected].each do |status| %>

      <% if @jobs.any? { |job| job.status == status && job.created_by == current_user.id } %>
        <h3> <%= status %></h3>
        <% @jobs.select { |job| job.has_status?(status) && job.created_by == current_user.id }.each do |job| %>
          <%= render partial: "job_card", locals: { job: job } %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    Add your first job here:
    <%= link_to "New Job", new_job_path %>
  <% end %>
<% else %>
  <h1 style="text-align: center"> Job Tracker</h1>
  <h2 style="text-align: center">
    Start tracking your application process today by
    <%= link_to "Signing Up", new_user_registration_path %>
  </h2>
<% end %>